@media (max-width : 992px) {
/* *header  */
    header {
        background-image: url(../img/header/img-hero.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position:   center;
    }
  
    header .sec-nav .container nav {
        display: none;
    }
    header .sec-nav .container i {
        display: block; 
    }
    header .sec-nav {
        max-height: 9vh;
    }

/* -header  */

/* *about */
    .about .container .about-img{
        display: none;
    }
    .about .container .about-text .p-1{
        padding: 1rem 0;
        font-size: 1rem;
     }
     .about .container .about-text .p-2{
         font-size: 0.7rem;  
     }
     
/* -about */

/* *Products */
.Products .container .Products-text h2 {
    font-size: 1.5rem;
}
.Products .container .Products-text .div-icon h5 {
    font-size: 0.7rem;
}
.Products .Products-sec{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows:repeat(2 , 250px) ;
    gap: 20px;
}
.Products .container .text5-products{
    position: relative;
    bottom: 93px;

}
/* -Products */


/* *sec3 */
.sec3 .container{
    justify-content: space-between;
}
.sec3 .container .sec3-text h5{
    font-size: 0.9rem;
}
.sec3 .container .sec3-text h4{
    font-size: 1.5rem;
}
/* -sec3 */


/* *Stay in touc-sec4 */

    .touc-sec4 .img-sec4 img{
        display: none;
    }
    .touc-sec4 .text-sec4{
        padding: 20px 0;
        width: 350px;
    }
    .touc-sec4 .text-sec4 :nth-child(2) {
        padding: 1rem 0;
        font-size: 1rem;
 
    }
    .touc-sec4 .text-sec4 :nth-child(3) {

        font-size: 0.6rem;

    }
    .touc-sec4 .text-sec4  form .input-email{
        width: 230px;
    }
    .touc-sec4 .text-sec4  form .input-submit{
        font-size: 10px;
    
    }
/* -Stay in touc-sec4 */


/* *sec5 */
    .sec5 .container img {
        width: 50px;
    }
    .sec5 .container img:hover {
        width: 60px;
        transform: rotate(5deg);
      
    }
/* -sec5 */

/* *footer */

footer{
    min-height: 250px;
}
footer .container {
    grid-template-columns: repeat(2 , 1fr);
}
footer .container div{
    width: 110px;
    margin: 20px;
}
footer .container .socail-link {
    gap: 5px;
}


/* -footer */

}
@media (min-width : 700px) and (max-width : 992px) {
    .touc-sec4 .img-sec4 img {
        width: 350px;
        display: block;
    }

}


@media (min-width : 992px) and (max-width : 1073px) {
/* *about */

    .about .container .about-text{
        width: 26.4rem;
        padding: 3rem;
    }
/* -about */


/* *Stay in touc-sec4 */

    .touc-sec4 .img-sec4 img{
        width: 550px;
    }
    .touc-sec4 .text-sec4{
        width: 380px;
    }


/* -Stay in touc-sec4 */


/* *footer */
    footer .container div{
        width: 130px;
        margin: 30px;
}
/* -footer */


}
@media (min-width :1073px) and (max-width : 1200px ){

/* *Stay in touc-sec4 */
    .touc-sec4 .img-sec4 img{
        width: 550px;
    }
    .touc-sec4 .text-sec4{
        width: 380px;
    }
/* -Stay in touc-sec4 */
footer .container div{
    width: 130px;
    margin: 40px;
}

}